.dark .box{
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgb(0, 143, 93);
  border-radius: 50%;
  text-align: center;
}
.box{
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgb(139, 1, 74);
  border-radius: 50%;
  text-align: center;
}